<mat-sidenav-container class="container">
    <mat-sidenav #favSidenav position="end" mode="side" [opened]="sidenavOpen$ | async" class="favs-bar">
        <h3>Favoritos</h3>
        <mat-nav-list *ngIf="(favBreeds$ | async) as favs; else empty">
            <a mat-list-item *ngFor="let b of favs" [routerLink]="['/breeds']" (click)="favSidenav.close()">
                <img [src]="b.image?.url || 'https://cdn2.thedogapi.com/images/' + b.reference_image_id + '.jpg'"
                    alt="{{b.name}}" width="40" height="40">
                <span>{{ b.name }}</span>
                <mat-icon mat-list-icon color="warn">favorite</mat-icon>
            </a>
        </mat-nav-list>

        <ng-template #empty>
            <p class="empty">Aún no tienes favoritos.</p>
        </ng-template>
    </mat-sidenav>

    <!-- Contenido principal -->
    <mat-sidenav-content>
        <app-top-bar (toggleFavBar)="toggleSidenav()"></app-top-bar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>